<div class="form">
  <div class="{{styles.linput}}">
    <label>Старый пароль</label>
    {{{oldPasswordInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Новый пароль</label>
    {{{newPasswordInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Повторите новый пароль</label>
    {{{newPassword2Input}}}
  </div>
  {{{saveButton}}}
  {{{backButton}}}
</div>
