<div class="form">
  <img alt="avatar" src={{img}}>
  <div class="{{styles.linput}}">
    <label>Почта</label>
    {{{emailInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Логин</label>
    {{{loginInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Имя</label>
    {{{firstNameInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Фамилия</label>
    {{{secondNameInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Имя в чате</label>
    {{{displayNameInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Телефон</label>
    {{{phoneInput}}}
  </div>
  <input name="avatar" style="display: none;">
  <input name="oldPassword" style="display: none;">
  <input name="newPassword" style="display: none;">
  {{{button}}}
</div>
