<div class="form">
  {{{avatar}}}
  <div class="{{styles.linput}}">
    <label>Почта</label>
    <label>{{email}}</label>
  </div>
  <div class="{{styles.linput}}">
    <label>Логин</label>
    <label>{{login}}</label>
  </div>
  <div class="{{styles.linput}}">
    <label>Имя</label>
    <label>{{first_name}}</label>
  </div>
  <div class="{{styles.linput}}">
    <label>Фамилия</label>
    <label>{{second_name}}</label>
  </div>
  <div class="{{styles.linput}}">
    <label>Имя в чате</label>
    <label>{{display_name}}</label>
  </div>
  <div class="{{styles.linput}}">
    <label>Телефон</label>
    <label>{{phone}}</label>
  </div>
  {{{editDataLink}}}
  {{{editPasswordLink}}}
  {{{logoutButton}}}
  {{{backButton}}}
</div>
