<div class="{{styles.form}}">
  <img alt="avatar" class="{{styles.avatar}}" src={{avatar}}>
  <div class="{{styles.linput}}">
    <label>Почта</label>
    {{{emailInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Логин</label>
    {{{loginInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Имя</label>
    {{{firstNameInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Фамилия</label>
    {{{secondNameInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Имя в чате</label>
    {{{displayNameInput}}}
  </div>
  <div class="{{styles.linput}}">
    <label>Телефон</label>
    {{{phoneInput}}}
  </div>
  {{{saveButton}}}
  {{{backButton}}}
</div>
