<div class="{{styles.chats}}">
  <div class="{{styles.left-side}}">
    <div class="{{styles.profile-head}}">
      {{{profileLink}}}
    </div>
    <div class="{{styles.search-head}}">
      <span>Чаты:</span>
      {{{addChatButton}}}
    </div>
    <div id="chats-list" class="{{styles.chats-list}}">
        {{{chatsList}}}
    </div>
  </div>
  <div class="{{styles.main-area}}">
    <div class="{{styles.chat-caption}}">
      {{#each users}}
        {{id}}{{login}}
      {{/each}}
      <span>Пользователи чата:</span>
      {{{addUserButton}}}
      {{{deleteUserButton}}}
    </div>
    <div class="{{styles.chat-messages}}">
      {{{messenger}}}
    </div>
    <div class="{{styles.new-message}}">
      {{{messageInput}}}
      {{{messageSendButton}}}
    </div>
  </div>
</div>
