<div class="{{styles.chats}}">
  <div class="{{styles.left-side}}">
    <div class="{{styles.profile-head}}">
      {{{profileLink}}}
    </div>
    <div class="{{styles.search-head}}">
      <span>Чаты:</span>
      {{{addChatButton}}}
    </div>
    <div id="chats-list" class="{{styles.chats-list}}">
      {{{chatsList}}}
    </div>
  </div>
  <div class="{{styles.main-area}}">
    {{{usersList}}}
    {{{messenger}}}
  </div>
</div>
