<div class="{{styles.chats}}">
  <div class="{{styles.left-side}}">
    <div class="{{styles.profile-head}}">
      Профиль >
    </div>
    <div class="{{styles.search-head}}">
      поиск
    </div>
    <div class="{{styles.chats-list}}">
      список чатов
    </div>
  </div>
  <div class="{{styles.main-area}}">
    <div class="{{styles.chat-caption}}">
      Заголовок чата
    </div>
    <div class="{{styles.chat-messages}}">
      сообщения чата
    </div>
    <div class="{{styles.new-message}}">
      {{{messageInput}}}
      {{{button}}}
    </div>
  </div>
</div>
