<div class="chat-plate {{styles.chat-plate}} {{#if isSelected}}{{styles.chat-plate-selected}}{{/if}}" data-chat-id="{{id}}">
  <div class="{{styles.avatar-proto}}" data-chat-id="{{id}}"></div>
  <div data-chat-id="{{id}}">{{title}}</div>
  {{{deleteButton}}}
</div>
