<div class="{{styles.form}}">
  <h1>{{title}}</h1>
  {{{emailInput}}}
  {{{loginInput}}}
  {{{firstNameInput}}}
  {{{secondNameInput}}}
  {{{phoneInput}}}
  {{{passwordInput}}}
  {{{password2Input}}}
  {{{button}}}
  {{{link}}}
</div>
