<div class="{{styles.blockcenter}}">
  <p class="{{styles.text}} {{styles.fs40px}}">{{errorCode}}</p>
  <p class="{{styles.text}} {{styles.fs20px}}">{{errorText}}</p>
  <a href="#">{{linkText}}</a>
</div>
